<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <div class="col-md-4 col-md-8 col-md-offset-3">
                  <div class="card card-profile">
                     <!-- <div class="card-avatar">
                          <a href="#pablo">
                              <img class="img" src="../assets/img/faces/marc.jpg" />
                          </a>
                      </div>-->
					   <div class="card-header" data-background-color='red'>
                     <h4 class="title">Login</h4>
                  </div>
                          <div class="card-content">
                              <form>
                                  <div class="row">
                                      <div class="col-md-12" >
                                          <div class="form-group form-black label-floating is-empty">
                                              <label class="control-label ">user</label>
                                              <input type="text" class="form-control" name='userName' [(ngModel)]='userName' >
                                          </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label ">Password</label>
                                                <input type="password" class="form-control" name='password' [(ngModel)]='password'>
                                            </div>
                                        </div>
                                      </div>
                                  <button type="submit" class="btn btn-danger pull-right" (click)='login()'>LogIn</button>
                                  <div class="clearfix"></div>
                              </form>
							 <!--  <router-outlet></router-outlet>-->
                          </div>
                      </div>
                  </div>
            </div>
        </div>
    </div>
</div>
